body{
      background-color: #00000061 !important;
    height: 96vh;
}

.search-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

/* Style for pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  list-style-type: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #ddd;
}

.pagination li.active a {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.table-container {
  position: relative; /* Asegura que los elementos hijos posicionados se posicionen relativos a este contenedor */
  margin-top: 20px; /* Espacio arriba para separar del título */
  padding-bottom: 50px; /* Espacio abajo para dar espacio al paginador */
}

.table-controls {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.page-size-selector {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 10px; /* Distancia desde abajo */
  right: 10px; /* Distancia desde la derecha */
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    background: #0000009c;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundColor: 'rgba(0, 0, 0, 0.5)';
}

.btn {
  margin: 5px;
}

.app-container{
    width: 90%;
    margin: 35px auto;
    height: 90vh;
    background-color: #ffff;
    padding: 20px;
}